<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="jp.ailen0ada.linkblync_client">
	<uses-sdk android:minSdkVersion="23" />
	<application android:label="LinkBlync.Client"></application>
</manifest>